<br>
<br>
<h1 class="text-center">Menú</h1>
<br>
<br>
<ng-template #loading>
  <img class="img-fluid rounded mx-auto d-block" src="/assets/img-producto/cargando.gif" alt="Cargando..."
    style="width: 300px;" />
</ng-template>

<a class="btn btn-info btn-lg shadow pl-5 m-2" routerLink="/producto/create" routerLinkActive="active">Crear</a>
<ng-template [ngIf]="productos" [ngIfElse]="loading">

  <div class="container-fluid" margen>
    <br>

    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-3">

      <div *ngFor="let item of productos">
        <div class="col">
          <div class="card shadow-lg m-3">

            <!-- <img src="{{item.Imagen}}" alt="Producto {{item.Nombre}}" class="img-thumbnail" /> -->

            <p>v{{item.imagen}}</p>

            <div class="card-body">

              <h4 class="card-title">Categoría: {{ item.categoriaId }}</h4>

              <p>Detalle: {{ item.detalle }}</p>

              <h5 id="cText" class="card-text">Precio: <span id="cText">₡{{ item.precio}}</span></h5>
              <ng-template [ngIf]="item.descuento==true" [ngIfElse]="no"></ng-template>
              <span id="cText"> Descuento: </span>
              <input type="checkbox" checked>

              <ng-template #no>
                <input type="checkbox">
              </ng-template>
            </div>
            <a class="btn btn-primary m-2" routerLink="/producto/update/{{item.id}}" routerLinkActive="active">
              <i class="fas fa-edit"></i></a>
            <a class="btn btn-primary m-2" routerLink="/producto/delete/{{item.id}}" routerLinkActive="active">
              <i class="fas fa-trash-alt"></i></a>

          </div>
        </div>
      </div>

    </div>

    <hr>
    <br>
  </div>


</ng-template>
<br>
<br>
<br>
<br>
<br>
